{% extends "layouts/base.html" %}

{% block content %}
<style>
    /* CSS personnalisé pour ajuster la hauteur du champ details */
    textarea#id_details {
        height: 150px; /* Ajustez la hauteur selon vos besoins */
        resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement le champ */
    }

    /* Ajustement de la taille des colonnes sur les écrans XL */
    @media (min-width: 1200px) {
        .col-xl-10 {
            flex: 0 0 80%; /* Reduire la largeur de la colonne pour faire de l'espace */
        }
        .col-xl-2 {
            flex: 0 0 20%; /* Augmenter la largeur de la colonne pour prendre plus de l'espace */
        }
    }
</style>

<div class="row">
    <div class="col-12 col-xl-10">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Création d'un aliment</h2>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-xl-2">
        <!-- Vous pouvez ajouter du contenu supplémentaire dans cette colonne si nécessaire -->
    </div>
</div>

{% endblock %}
