{% extends "layouts/base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
                <a href="{% url 'charge-list' %}" class="btn btn-secondary">
                    Retour à la liste
                </a>
            </div>
        </div>
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <h2 class="h5 mb-4">Modifier la Charge</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
                        <a href="{% url 'charge-list' %}" class="btn btn-secondary">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
