{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
    <h1 class="h3 mb-4">Modifier une Poule</h1>
    
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    <a href="{% url 'poule-list' %}" class="btn btn-secondary">Annuler</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
